body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.mymove {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes example {
  from {
    top: 0px;
  }
  to {
    top: 200px;
    background-color: blue;
  }
}
