body {
  height: 100vh;
  display: flex;
  background-color: black;
  align-items: center;
  color: white;
  flex-direction: column;
}

.hide {
  height: 30px;
  width: 100vw;
  background-color: orange;
  padding: 20px;
  font-size: 30px;
}

.fs {
  margin-top: 20px;
  font-size: 20px;
}

.animation {
  margin-top: 300px;
}
