/* product detail page - CSS */

.screen {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 0.625rem; /* 10px */

  @media (max-width: 1050px) {
    align-items: start;
  }
  @media (min-width: 1051px) {
    align-items: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 1050px;
  align-items: flex-start;
}

.body {
  display: flex;
  padding-top: 3.125rem; /* 50px */
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.product_introduction {
  display: flex;
  align-items: flex-start;
  gap: 3.125rem; /* 50px */
  align-self: stretch;

  background-color: #fff;
}

.product_introduction_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.product_name {
  display: flex;
  padding-top: 0.5rem; /* 8px */
  align-items: flex-start;
  gap: 0.625rem; /* 10px */
}

.product_discount {
  display: flex;
  padding: 1.25rem 0rem; /* 20px 0px */
  align-items: flex-start;
  gap: 0.5rem; /* 8px */
}

.line {
  width: 35.625rem; /* 570px */
  height: 0.0625rem; /* 1px */
  border: 1px #E2E2E2 solid;
  background-color: #E2E2E2;
}

.product_notice {
  display: flex;
  padding: 1.25rem 0rem; /* 20px 0px */
  align-items: flex-start;
  align-self: stretch;
}

.select_product {
  display: flex;
  padding: 1.25rem 0rem; /* 20px 0px */
  align-items: flex-start;
  align-self: stretch;
}

.calc_select_product {
  display: flex;
  padding: 0.625rem 0.625rem 0.938rem 0.625rem; /* 10px 10px 15px 10px */
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem; /* 12px */
  flex: 1 0 0;

  border: 1px solid #E2E2E2;
}

.select_product_amount {
  display: flex;
  padding: 0.25rem; /* 4px */
  align-items: flex-start;

  border-radius: 0.25rem; /* 4px */
  border: 1px solid #E2E2E2;
}

.charge {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem; /* 24px */
  align-self: stretch;
}

.final_charge {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.625rem; /* 10px */
}

.final_charge_2 {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem; /* 8px */
}

.register {
  display: flex;
  padding: 1rem 0rem; /* 16px 0px */
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 0.25rem; /* 4px */
  background: #5E0080;
}

.product_comment {
  display: flex;
  flex-direction: column;
  padding: 64px 0px 0px;
  width: 100%;
}

.product_comment_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product_comment_form textarea {
  display: flex;

  padding: 13px 1px 20px 11px;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--stroke-1);
}

.product_comment_form select {
  width: 80px;
  height: 40px;
  padding: 8px;
}

.product_comment_form button {
  display: flex;
  width: 7.5rem;
  padding: 1.25rem 0rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 0.25rem;
}





/* 폰트 설정 */
.T1 {
  font-family: Pretendard;
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 20px */ /* 142.857% */
  word-wrap: break-word;
  letter-spacing: -0.019rem; /* -0.3px */
}

.B1 {
  font-family: Pretendard;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 24px */ /* 150% */
}

.B1-bold {
  font-family: Pretendard;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 24px */ /* 150% */
}

.B2 {
  font-family: Pretendard;
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 20px */ /* 142.857% */
}

.B2-bold {
  font-family: Pretendard;
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 20px */ /* 142.857% */
  letter-spacing: -0.0625rem; /* -1px */
}

.H3 {
  font-family: Pretendard;
  font-size: 0.938rem; /* 15px */
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 20px */ /* 133.333% */
}

.TAEJUN {
  font-family: Pretendard;
  font-size: 1.5rem; /* 24px */
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 32px */
  letter-spacing: -0.0625rem; /* -1px */
}

.TAEJUN_2 {
  font-family: Pretendard;
  font-size: 1.75rem; /* 28px */
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 32px */
  letter-spacing: -0.0625rem; /* -1px */
}

.Btn {
  font-family: Pretendard;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 24px */
}

.Btn-sidnav {
  font-family: Pretendard;
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.063rem; /* 17px */ /* 121.429% */
}

.Caption {
  font-family: Pretendard;
  font-size: 0.75rem; /* 12px */
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 16px */ /* 133.333% */
}

.decoline {
  font-family: Pretendard;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 24px */ /* 150% */
  text-decoration-line: line-through;
}

/* 색상 설정 */

.text-white {
  color: #ffffff;
}

.text-red {
  color: #FA622F;
}

.text-font1 {
  color: #333333;
}

.text-font2 {
  counter-reset: #999999;
}

.text-font3 {
  color: #dddddd;
}

.text-main {
  color: #5e0080;
}

.monocolor {
  background-color: #dddddd;
}

.icon-color-1 {
  filter: invert(93%) sepia(0%) saturate(1106%) hue-rotate(168deg) 
  brightness(89%) contrast(111%);
}

.icon-color-2 {
  filter: invert(69%) sepia(15%) saturate(7%) hue-rotate(343deg)
   brightness(86%) contrast(90%);
}

.icon-color-3 {
  filter: invert(98%) sepia(0%) saturate(279%) hue-rotate(142deg)
  brightness(92%) contrast(93%);
}

.icon-color-4 {
  filter: invert(16%) sepia(4%) saturate(21%) hue-rotate(317deg)
  brightness(87%) contrast(83%);
}

/* 아이콘 크기설정 */
.icon-20 {
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  flex-shrink: 0;
}

.icon-24 {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  flex-shrink: 0;
}
