body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  background-color: black;
  color: white;
  font-size: 0.6rem;
  justify-content: space-between;
  flex-grow: 0.1;
}

.item:nth-child(1) {
  align-items: center;
  padding: 7px;
}

.item:nth-child(2) {
  align-items: center;
  height: 50vh;
}

.item:nth-child(3) {
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.item:nth-child(4) {
  flex-direction: column;
  justify-content: center;
  padding: 8px 10px 100% 10px;
  line-height: 175%;
}

i {
  color: white;
  font-size: 0.8rem;
  margin-right: 3px;
}

.gray {
  color: gray;
}

.logo {
  border-radius: 70%;
  float: left;
  margin-right: 7px;
}
